<% if user_signed_in? %>
	</br>
  <div class="row", style = "padding: 15px;">
  	<%= link_to'Create a Question', '/questions/new', class: "btn btn-medium btn-success"  %>  
  </div>
  <table data-toggle="table" data-sort-order="desc" data-classes="table" data-sortable="true">
    <thead>
      <tr>
        <th data-sortable="true" class="col-md-5">Question</th>
        <th data-sortable="true" class="col-md-2">Course(s)</th>
        <th data-sortable="true" class="col-md-1">Topic</th>
        <th data-sortable="true" class="col-md-1">View</th>
        <th data-sortable="true" class="col-md-3">Status</th>
        <th data-sortable="true" class="col-md-1">Flagged</th>
      </tr>
    </thead>
    <tbody>
      <% if @questions.any? %>
		    <%= render partial: 'shared/questions', collection: @questions %>
      <% end %>
    </tbody>
  </table>
<% end %>