<div class="row">
	<h5>
		<div class="col-md-8 col-sm-8"><%= course_topics.topic.name %></div>
		<div class="col-md-4 col-sm-4"><%= link_to "Remove Topic", delete_course_topic_path(course_topics), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-small btn-danger" %></div>
	</h5>
</div>
<hr>