<h3> Manage TAs </h3>
<p>From here you can add or remove TAs as needed for your courses.  They must first register for the class as regular students, then they will show up here.  TAs are responsible for choosing the labs they are associated with.</p>
<table data-toggle="table" data-sort-order="desc" data-classes="table" data-sortable="true">
	<thead>
            <tr>
      		<th data-sortable="true" class="col-md-2">Student Name</th>
      		<th data-sortable="true" class="col-md-1">Number</th>
      		<th data-sortable="true" class="col-md-1">Lab</th>
      		<th data-sortable="true" class="col-md-1">Role</th>
      		<th data-sortable="true" class="col-md-2">Action</th>
      	</tr>
	</thead>
	<tbody>
		<%= render partial: 'shared/manage', collection: @students %>
	</tbody>
</table>